body{
    background-color: black;
    background-image: url(../portfolio/assets/background.jpg);
}
#introMessage,
#introSubMessage,
#introSubSubMessage{
    margin-right: auto;
    margin-left: auto;
    color: azure;
    font-family: 'Anton', sans-serif;
}
#introMessage{
    font-size: 70px;
}
#navRow{
    margin-top: 55px;
    margin-bottom: 25px;
}
.navButton{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 0;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}
#aboutButton{
    background-color: rgba(1, 33, 80, 0.733);
    color: rgba(240, 255, 255, 0.733);
}
#aboutButton:hover{
    background-color: rgba(192, 124, 47, 0.829);
    color: rgb(252, 252, 252);
    transition: 500ms;
}
#contButton{
    background-color: rgba(1, 33, 80, 0.733);
    color: rgba(240, 255, 255, 0.733);
}
#contButton:hover{
    background-color: rgba(16, 153, 50, 0.829);
    color: rgb(252, 252, 252);
    transition: 500ms;
}
#portButton{
    background-color: rgba(1, 33, 80, 0.733);
    color: rgba(240, 255, 255, 0.733);
}
#portButton:hover{
    background-color: rgba(116, 31, 155, 0.829);
    color: rgb(252, 252, 252);
    transition: 500ms;
}
#resButton{
    background-color: rgba(240, 255, 255, 0.568);
    color: rgba(2, 44, 107, 0.733);
}
#resButton:hover{
    background-color: rgba(240, 255, 255, 0.829);
    color: rgba(2, 44, 107, 0.829);  
    transition: 500ms;
}
#mainContainer{
    width: 80%;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-top: 120px;
    padding-bottom: 50px;
    z-index: 1;
    background-color: rgba(41, 20, 51, 0.781);
    border-radius: 10px;
}
.AboutMeTitle{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Anton', sans-serif;
    color: azure;
    text-align: center;
}
.AboutMePic{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#contentDiv{
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 10px;
}
p{
    color: white;
}
.portPic{
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgb(250, 173, 122);
}
.PortfolioItem{
    position: absolute;
    bottom: 35px;
    left: 0;
    background-color: rgba(1, 33, 80, 0.733);
    border-top: 1px solid rgb(250, 173, 122);
    border-bottom: 1px solid rgb(250, 173, 122);
    font-size: 18px;
    color: azure;
    width: 100%;
    padding: 2px;
    text-align: center;
}
.githubLink{
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgb(1, 33, 80, 0.733);
    border-top: 1px solid rgb(250, 173, 122);
    border-bottom: 1px solid rgb(250, 173, 122);
    font-size: 18px;
    color: azure;
    width: 100%;
    padding: 2px;
    text-align: center;
}
.githubLink:hover,
.PortfolioItem:hover{
    background-color: rgb(68, 236, 68, 0.733);
    color: rgb(62, 62, 62);
    transition: 300ms;
}
#WordGuessGame{
    background-image: url(../portfolio/assets/screenshot.png);
}

#PortfolioItemRPG{
    background-image: url(../portfolio/assets/MKscreenshot.png);
}

#PortfolioItemTriv{
    background-image: url(../portfolio/assets/TRIVscreenshot.png);
}

#PortfolioItemGif{
    background-image: url(../portfolio/assets/GIFscreenshot.png);
}

#PortfolioItemTrain{
    background-image: url(../portfolio/assets/TRAINscreenshot.png);
}

#PortfolioItemPour{
    background-image: url(../portfolio/assets/POURscreenshot.png);
}

#PortfolioItemLIRI{
    background-image: url(../portfolio/assets/liri1.png);
}

#PortfolioItemBam{
    background-image: url(../portfolio/assets/bamazon.png);
}


#ContactContainer{
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 1;
}
#collapse{
    border-color: rgb(68, 236, 68);
}
.contact{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

#contSection{
    font-family: 'Contrail One', cursive;
    color: rgb(68, 236, 68);
}

input{
    width: 100%;
}

#messageBox{
    width: 100%;
    height: 60px;
}

#submit{
    border: 2px solid rgb(68, 236, 68);
    background-color: rgb(62, 62, 62);
    color: rgb(68, 236, 68);
    border-radius: 10px;
}


#WordGuessGame{
    background-image: url(../portfolio/assets/screenshot.png);
}

#PortfolioItemRPG{
    background-image: url(../portfolio/assets/MKscreenshot.png);
}

#PortfolioItemTriv{
    background-image: url(../portfolio/assets/TRIVscreenshot.png);
}

#PortfolioItemGif{
    background-image: url(../portfolio/assets/GIFscreenshot.png);
}

#PortfolioItemTrain{
    background-image: url(../portfolio/assets/TRAINscreenshot.png);
}

#PortfolioItemPour{
    background-image: url(../portfolio/assets/POURscreenshot.png);
}

#PortfolioItemLIRI{
    background-image: url(../portfolio/assets/liri1.png);
}

#PortfolioItemBam{
    background-image: url(../portfolio/assets/bamazon.png);
}
